{% extends 'base.html.twig' %}

{% block title %}Fiche d'inscription{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 500px;">
    <h1 class="mb-4">Fiche d'inscription</h1>

    {{ form_start(registrationForm) }}

    {{ form_errors(registrationForm) }}

    <div class="mb-3">
        {{ form_label(registrationForm.lastName) }}
        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control', 'placeholder': 'Nom de famille'}}) }}
        {{ form_errors(registrationForm.lastName) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.name) }}
        {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
        {{ form_errors(registrationForm.name) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Mail'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword.first) }}
        {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
        {{ form_errors(registrationForm.plainPassword.first) }}
    </div>

    <div class="mb-3">
        {{ form_label(registrationForm.plainPassword.second) }}
        {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirmer le mot de passe'}}) }}
        {{ form_errors(registrationForm.plainPassword.second) }}
    </div>

    <div class="form-check mb-3">
        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(registrationForm.agreeTerms, 'Veuillez accepter les conditions générales', {'label_attr': {'class':'form-check-label'}}) }}
        {{ form_errors(registrationForm.agreeTerms) }}
    </div>

    <button type="submit" class="btn btn-primary w-100">Inscription</button>

    {{ form_end(registrationForm) }}
</div>
{% endblock %}

