{{ form_start(form) }}
<div class="container mt-5" style="max-width: 500px;">
    <div class="col-md-6 mb-3">
        {{ form_label(form.content) }}
        {{ form_widget(form.content, { 'attr': {'class': 'form-control'} }) }}
    <button class="btn btn-sm btn-outline-primary mb-3 mt-3">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
