{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        {{ form_label(form.recipes) }}
        {{ form_widget(form.recipes, { 'attr': {'class': 'form-select'} }) }}
    </div>
</div>
<button class="btn btn-sm btn-outline-primary mb-1">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}

